.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 246px;
  vertical-align: middle;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  padding: 0 0 5px;
  margin: 0;
}

.not-found__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 184px;
  margin: 0;
}

.not-found__go-back {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: inherit;
  color: #2BE080;
  padding-bottom: 60px;
  transition: opacity .5s;
}

.not-found__go-back:hover {
  opacity: .7;
}

