.app {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1280px;
  margin: auto;
}

.app__sign {
  display: flex;
  flex-direction: column;
  width: calc(100% - 884px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .app__sign {
    width: calc(100% - 372px);
  }
}