.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  align-self: start;
}

.register__form {
  display: flex;
  flex-direction: column;
  padding: 40px 0 16px;
}

.register__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  padding: 20px 0 10px;
  margin: 0;
}

.register__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.7px;
  background: #F9F9F9;
  border: none;
  border-radius: 8px;
  line-height: 46px;
  margin: 0;
}

.register__submit {
  color: #FFF;
  background-color: #2BE080;
  border: none;
  border-radius: 3px;
  margin: 179px 0 0;
  width: 396px;
  height: 45px;
  cursor: pointer;
  transition: opacity .5s;
}

.register__submit:hover {
  opacity: .8;
}

.register__yet {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  padding: 0 0 70px;
  margin: 0;
  text-align: center;
}

.register__signup {
  color: #2BE080;
  text-decoration: none;
  transition: opacity .5s;
}

.register__signup:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .register__submit {
    margin: 91px 0 0;
  }
}