.footer {
  padding: 79px 70px 20px;
}

.footer__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.7px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  color: #A0A0A0;
}

.footer__bar {
  display: flex;
  justify-content: space-between;
}

.footer__text-decor {
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  line-height: 16px;
}

.footer__year::before {
  content: '\00A9  '
}

.footer__link {
  color: #000;
  text-decoration: none;
  padding-left: 20px;
  transition: opacity .5s;
}

.footer__link:hover {
  opacity: .7;
}