.search-form {
  display: flex;
  justify-content: space-between;
  padding: 80px 70px 94px;
}

.search-form__input-container {
  display: flex;
  position: relative;
  height: 48px;
  width: 82%;
}

.search-form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.2;
  border: 1.5px solid #AAA;
  border-radius: 50px;
  width: 100%;
  padding-left: 22px;
}

.search-form__icon {
  position: absolute;
  background-image: url("../../../images/search.svg");
  border: none;
  background-color: inherit;
  width: 34px;
  height: 34px;
  top: 7px;
  right: 7px;
  cursor: pointer;
  transition: opacity .5s;
}

.search-form__icon:hover {
  opacity: .8;
}

.search-form__short-container {
  display: flex;
  align-items: center;
}

.search-form__search-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-right: 14px;
  margin: 0;
}

.search-form__slider {
  background-image: url("../../../images/slider-off.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.search-form__slider_on {
  background-image: url("../../../images/slider-on.svg");
}

@media screen and (max-width: 768px) {
  .search-form {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 68px;
  }

  .search-form__input-container {
    width: 100%;
  }
  
  .search-form__short-container {
    padding-top: 38px;
  }
}

@media screen and (max-width: 470px) {
  .search-form {
    padding: 60px 10px 44px;
  }

  .search-form__input {
    font-size: 11px;
    line-height: 18px;
  }

  .search-form__short-container {
    padding-top: 45px;
  }

  .search-form__search-title {
    font-size: 11px;
    line-height: 18px;
    padding-right: 13px;
  }
}